.testimonials1-15-slider{
    width:100%;
    height:100%;
    max-width:750px;
    background-color:rgba(221,221,221,0);
    margin-top:2rem
}

.w-slider-mask{
    z-index:1;
    height:100%;
    white-space:nowrap;
    display:block;
    position:relative;
    left:0;
    right:0;
    overflow:hidden
}

.testimonials1-15-slide {
    background-color: #fff;
    border: 1px rgba(70,137,215,.2);
    border-radius: 8px;
    margin-right: 50px;
    padding: 0;
}

.w-slide {
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;
    display: inline-block;
    position: relative;
}
@media screen and (max-width:767px){
.slide-wrap {
    padding: 90px 50px;
}
}
.slide-wrap {
    min-height: 350px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    display: flex;
}

.testimonal_card {
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: .25fr 1.5fr;
    grid-auto-columns: 1fr;
    align-items: start;
    display: grid;
}